<h1>Welcome 
<% if !@user.first_name.blank? %>
  <%= @user.first_name %>
<% else %>
  <%= @user.username %>
<% end %></h1>

<br>
<br>

<% if current_user %>
  <%= link_to "View Your Trails", user_trails_path(current_user) %>
<% end %>